@{
    ViewData["Title"] = "Student Information";
}

<h2>Student Information</h2>

<div>
    <p><strong>Name:</strong> @ViewData["Name"]</p>
    <p><strong>College Name:</strong> @ViewData["CollegeName"]</p>
</div>


